.manageTitle {
    font-size: large;
    font-weight: bold;
    text-align: center;

    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.btnWrap {
    margin: 2rem;
}

.btnWrap .btn {
    margin-bottom: 0.5rem;
}

.operationTitle {
    font-size: large;
    text-align: center;

    margin: 1rem;
}
