.titleBar {
    font-size: large;
    font-weight: bold;
    text-align: center;

    margin: 1rem;
}

.tips {
    font-size: small;
    text-align: center;
    color: #3d3d3d;
}

.btn {
    margin: 2rem;
}

.membersWarp {
    margin: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    border: solid 2px black;
    border-bottom: none;
}

.newMember {
    position: relative;
    padding: 0.3rem;
    border-bottom: solid 2px black;
}


.deleteBtn {
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 0.05rem;
    border-radius: 2px;
    border: solid 2px #313131;
    background-color: #c7c7c7;
}

.campusPicker {
    margin: 2rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: solid 3px #3d3d3d;
    background-color: #c6c6c6;
}


.newInfo {
  margin: 2rem;
  display: flex;
  gap: 10px;
}
.newInfoInput {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 6px;
  height: 60px;
  width: 500px;
  font-size: 30px;
  flex-grow: 1;
}
