.content-wrapper {
  width: 95vw;
  position: relative;
}

.title {
  position: relative;
  font-family: "Arial Black";
  font-weight: bolder;
  font-size: 55px;
  top: 1vh;
  margin-left: 30px;
}

.team-info-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.team-info {
  display: flex;
  line-height: 40px;
  height: 4vh;
  font-size: 40px;
  font-weight: 800;
  justify-content: space-between;
  padding-top: 40px;
}
.left {
  flex-shrink: 0;
  padding-left: 50px;
  left: 50px;

}
.right {
  flex-shrink: 0;
  padding-right: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}
.table-wrapper {
  width: 100%;
  left: 40px;
  position: relative;
}
.table {
  display: flex;
  flex-direction: column;     /* 排列形式: 向下 */
  margin-top: 50px;
  margin-bottom: 50px;
}
.tr {
  display: flex;
  flex-direction: row;
}
.th, .td {  /* 公有的属性 */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;            /* 自动换行 */
  width: 30%; /* 4个25%相加刚好100% */
  height: 4vh;
  text-align: center;         /* 文本居中 */
  justify-content:center;     /* 主轴居中 */
  align-items: center;        /* 交叉轴居中 */
  border-top: 1px solid #dadada;      /* 单元格上线框 */
  border-bottom: 1px solid #dadada;   /* 单元格下线框 */
  border-left: 1px solid #dadada;     /* 单元格左线框 */
  border-right: 1px solid #dadada;    /* 单元格右线框 */
}
.th {
  font-weight: 800;           /* 字体加重 */
  background-color:#e1e4c9;   /* 背景色 */
}
.stuTr .td {
  background-color:#9cc0ff;   /* 背景色 */
}
.teaTr .td {
  background-color:#ffb4d9;   /* 背景色 */
}

.pickerTd {
  text-decoration: underline;
}

.tips {
  font-size: small;
  text-align: center;
  color: #3d3d3d;
}
