.titleBar {
  margin: 2rem;
  font-size: large;
  font-weight: bold;
  text-align: center;
  justify-content:center;
  align-items: center;
}

.table {
  display: flex;
  flex-direction: column;     /* 排列形式: 向下 */
  margin-top: 50px;
  margin-bottom: 50px;
  overflow-y: scroll;
}

.tr {
  white-space: nowrap;
}

.th, .td {
  display: inline-block;
  margin: 0 auto;
  width: 6rem;
  text-align: center;         /* 文本居中 */
  justify-content:center;     /* 主轴居中 */
  align-items: center;        /* 交叉轴居中 */
  border: 1px solid #dadada;      /* 单元格上线框 */
}

.th {
  width: 6rem;
  font-weight: 800;           /* 字体加重 */
  background-color:#B3CCF4;   /* 背景色 */
}

.td {
  width: 1.8rem;
  background-color:#edf3e9;   /* 背景色 */
}